<div class="navigation bg-primary h-full w-full rounded-md">
    <img src="/logo-hero.png" alt="" class="w-full mx-auto p-5">
    <div class="flexcol !items-start !justify-between w-full">
        <ul class="w-full">
            <!-- <li class="flexrow" routerLink="home"> <lucide-icon [img]="HouseIcon"></lucide-icon> Home</li> -->
            <li class="flexrow" routerLink="diagrams"> <lucide-icon [img]="WorkflowIcon"></lucide-icon> Diagrams</li>
            <!-- <li class="flexrow" routerLink="conversion"> <lucide-icon [img]="ArrowRightLeftIcon"></lucide-icon> Conversion</li> -->
            <!-- <li class="flexrow" routerLink="documents"> <lucide-icon [img]="BookTextIcon"></lucide-icon> Documents</li> -->
            <!-- <li class="flexrow">Notes</li> -->
        </ul>
        <ul class="w-full">
            <li class="flexrow" (click)="viewProfile()"> <lucide-icon [img]="UserIcon"></lucide-icon> Account Login</li>
        </ul>
    </div>
</div>